<!DOCTYPE html>
{% extends 'blogapp/base.html' %}
{% block title_block %} {{post.title}} {% endblock %}
{% block content %}
  <h1>{{post.title}}</h1>
  <p id = "date">Published on {{post.publish}} by {{post.author|title}}</p>
  {{post.body|linebreaks}}<br><br>
  <a href="/{{post.id}}/share" class="btn btn-lg btn-success">Share it by email</a><hr>
  {% with comments.count as comments_count %}
    <h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
  {% endwith %}
  {% if comments %}
    {% for comment in comments %}
      <p id='chh'>Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
      <div class="cb">{{comment.body|linebreaks}}</div>
    {% endfor %}
    <hr>
  {% else %}
    <p>There is no comments yet.</p>
  {% endif %}
  {% if csubmit %}
    <h2>Thank you for your comments. Your comments has been added successfully!!</h2>
  {% else %}
  <h2>We would love to listen your opinion. Please submit your comments...</h2>
    <form method="post">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-lg btn-success" value="Submit Comment"> <hr>
    </form>
  {% endif %}

{% endblock %}
